<!doctype html>
<html>
<head>
	<title>Don't park here</title>
	<script src="https://api.mapy.cz/loader.js"></script>
	<script>
		Loader.load();
		
		const S4 = function () {
			return (((1+Math.random())*0x10000)|0).toString(16).substring(1); 
		}
		
		const newGuid = function() {	 
			// then to call it, plus stitch in '4' in the third group
			guid = (S4() + S4() + "-" + S4() + "-4" + S4().substr(0,3) + "-" + S4() + "-" + S4() + S4() + S4()).toLowerCase();
			return guid;
		}
		
		window.apiBaseUrl = 'https://dph.azurewebsites.net';
		window.instanceId = newGuid();
	</script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<style>
		html, body, #app { width: 100%; height: 100%; margin: auto; }
		
		body
		{
			font-family: 'Lato', sans-serif;
		}
		
		#app
		{
			flex-direction: column;
			display: flex;
		}
		
		.mapContainer
		{
			flex-basis: 0;
			flex-grow: 3;
		}
		.panel
		{
			background: #fff; /*url("./bg.jpg") 50% 100%;*/
			padding: 10px;
			display: flex;
			align-items: center;
			flex-basis: 0;
			flex-grow: 2;
		}
		h3
		{
			font-size: 200%;
			font-weight: 100;
			margin-bottom: 0;
		}
		.messagebox.inprogress { animation: blinker 2s linear infinite; }
		@keyframes blinker { 50% { opacity: 0.25; } }

		
		.messagebox
		{
			width: 100%;
			margin: 10px 0;
		}
		.success
		{
			color: green;
		}
		.error
		{
			color: red;
		}
		
		#map {
			position: relative;
			width: 100%;
			height: 100%;
		}
		#map img.meter
		{
			width: 32px;
		}
		
		@media screen and (min-width: 64em){
			#app {
				flex-direction: row-reverse;
			}
			.panel {
				flex-basis: 0;
				flex-grow: 1;
			}
			.panel > div {
				width: 100%;
			}
		
			.mapContainer {
				flex-basis: 0;
				flex-grow: 3;
			}
		}
	</style>
</head>

<body>
	<div id="app">
		<div class="mapContainer">
			<div id="map"></div>
		</div>
		<div class="panel">
			<div>
				<h3>Don't park here</h3>
				<div class="messagebox inprogress" v-if="!connected">
					Connecting to SignalR server, please wait...
				</div>
				<div class="messagebox" v-if="!sendingData && !dataReceived && connected">
					Connected! Pick a spot on the map.
				</div>
				<div class="messagebox inprogress" v-if="sendingData">
					Checking your spot, please wait...
				</div>
				<div :class="success ? 'messagebox success' : 'messagebox error'" v-if="dataReceived">
					<i class="fa fa-check fa-2x" v-if="success"></i>
					<i class="fa fa-hand-paper-o fa-2x" v-if="!success"></i><br />
					<p v-html="result"></p>
				</div>
				<div v-if="dataReceived && restrictions.length > 0">
					<h4 v-on:click="restrictionsOpen = !restrictionsOpen">
						<i class="fa fa-plus-square-o" v-if="!restrictionsOpen"></i>
						<i class="fa fa-minus-square-o" v-else></i>
						All restrictions
					</h4>
					<div v-if="restrictionsOpen">
						<div v-for="restriction in restrictions">
							<div v-for="duration in restriction.durations">
								<strong>{{Math.floor(duration.timeStart/60)}}:{{("0" + duration.timeStart % 60).slice(-2)}} - {{Math.floor(duration.timeEnd/60)}}:{{("0" + duration.timeEnd % 60).slice(-2)}} ({{duration.days.map(d => d.substring(0,3)).join(", ")}})</strong><br />
							</div>
							<p v-html="restriction.description"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@aspnet/signalr@1.0.3/dist/browser/signalr.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
	
	
	
	<script type="text/javascript">
		const requestConfig = {
					headers: {
						"instanceId": window.instanceId
					}
				};
	
		let data = {
			sendingData: false,
			dataReceived: false,
			success: false,
			result: "",
			connected: false,
			position: [],
			instanceId: window.instanceId,
			map: null,
			markerLayer: null,
			restrictions: [],
			parkingMachines: [],
			restrictionsOpen: false
		};

		const app = new Vue({
		  el: '#app',
		  data: data,
		  methods: {
		  
			getPosition: function(){
			  if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(this.setPosition);
			  }
			},
			
			setPosition: function(position){
				data.position = [position.coords.latitude, position.coords.longitude];
			},
			
			receiveMessage: function(message){
				data.sendingData = false;
				data.dataReceived = true;
				
				console.log(message);
				
				let residentialParking = [message];//.filter(m => m.module === "BrnoResidentialParking");
				if (residentialParking.length == 0 || message == null)
				{
					data.success = true;
					data.result = "Selected spot is outside of restricted parking zones.";
				}
				else
				{
					let applicableRestrictions = residentialParking[0].data.applicableRestrictions;
					let otherRestrictions = residentialParking[0].data.restrictions;
					let parkingMachines = residentialParking[0].data.machines;
					
					if (applicableRestrictions.length == 0)
					{
						data.success = true;
						data.result = "Selected spot is inside restricted parking zone " + residentialParking[0].data.area + ". However, at this moment there are no restrictions and you car park here freely.";
					}
					else
					{
						data.success = false;
						data.result = "Selected spot is inside restricted parking zone " + residentialParking[0].data.area + ".<br />";
						
						for (let i = 0; i < applicableRestrictions.length; i++)
						{
							data.result += applicableRestrictions[i].description + "<br />";
						}
						
						data.parkingMachines = parkingMachines;
					}
					
					data.restrictions = otherRestrictions;
				}
			},
			
			connectionClosed: function(){
				data.connected = false;
			},
			
			removePointers: function(){
				this.map.getControls().filter(c => "_alwaysShow" in c).forEach(c => this.map.removeControl(c));
			}
		  },
		  
		  watch: {
			connected: function(val) {
				if (val)
				{
					this.getPosition();
				}
			},
			position: function() {
				this.restrictions = [];
				this.parkingMachines = [];
				this.result = "";
			
				console.log('position changed');
				
				let center = SMap.Coords.fromWGS84(data.position[1], data.position[0]);
				
				this.removePointers();
				this.markerLayer.removeAll();
				this.markerLayer.addMarker(new SMap.Marker(center), "Car", {});
				this.map.setCenterZoom(center, 18, true);
				
				// send request
				this.sendingData = true;
				this.dataReceived = false;

				axios.post(`${apiBaseUrl}/api/InputSignalR`, {
					instanceId: this.instanceId,
					lat: this.position[0],
					lon: this.position[1]
				}, requestConfig)
				.then(resp => resp.data);
			},
			
			parkingMachines: function(val) {
				
				this.removePointers();
				
				for (let i = 0; i < val.length; i++)
				{
					let image = JAK.mel("img", { className: "meter", src: "./meter.png" });
					this.markerLayer.addMarker(new SMap.Marker(SMap.Coords.fromWGS84(val[i].machine.coords[1], val[i].machine.coords[0]), val[i].machine.name, {url: image}));
					
					let pointer = new SMap.Control.Pointer({"showDistance": true});
					this.map.addControl(pointer);
					pointer.setCoords(SMap.Coords.fromWGS84(val[i].machine.coords[1], val[i].machine.coords[0]));
				}
				
				this.markerLayer.redraw(false);
			}
		  },
		  
		  created: function(){
			axios.post(`${apiBaseUrl}/api/InputSignalRNegotiate`, null, requestConfig)
				.then(resp => resp.data)
				.then(info => {
					// make compatible with old and new SignalRConnectionInfo
					info.accessToken = info.accessToken || info.accessKey;
					info.url = info.url || info.endpoint;

					const options = {
						accessTokenFactory: () => info.accessToken
					};
					
					const connection = new signalR.HubConnectionBuilder()
						.withUrl(info.url, options)
						.configureLogging(signalR.LogLevel.Information)
						.build();

					connection.on('newMessage', this.receiveMessage);
					connection.onclose(this.connectionClosed);

					connection.start()
						.then(() => {
							data.connected = true;
							})
						.catch(console.error);
				}).catch(alert);
		  }
		});
		
				
				
		// add map
		
		var center = SMap.Coords.fromWGS84(16.6081525, 49.1951214);
		data.map = new SMap(JAK.gel("map"), center, 13);
		data.map.addControl(new SMap.Control.Sync());
		data.map.addDefaultLayer(SMap.DEF_BASE).enable();
		
		var mouse = new SMap.Control.Mouse(SMap.MOUSE_PAN | SMap.MOUSE_WHEEL | SMap.MOUSE_ZOOM);
		data.map.addControl(mouse);
		
		data.markerLayer = new SMap.Layer.Marker();
		data.map.addLayer(data.markerLayer);
		data.markerLayer.enable();
		
		data.map.getSignals().addListener(window, "map-click", function(e, elm) {
				var coords = SMap.Coords.fromEvent(e.data.event, data.map);
				data.position = [coords.y, coords.x];
			});
	</script>
  
</body>
</html>